<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    </head>
  
  <body>
    
    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <p style="text-align: center;"><a href="tel:010-9048-0767">상위광고 010 9048 0767</a></p>
          </footer>
      </div>
    </div>
    
  </body>
</html>
