<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <!-- 네이버 서치어드바이저 인증 코드가 필요하다면 이 아래에 추가하세요 -->

  </head>
  
  <body>
    
    <!-- 상단 헤더(영어, 카테고리)가 있던 부분이 삭제되어 깔끔해졌습니다. -->
    
    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <!-- 요청하신 '상위광고' 전화번호 링크입니다. -->
          <p style="text-align: center;"><a href="tel:010-9048-0767">상위광고 010 9048 0767</a></p>
        </footer>
      </div>
    </div>
    
  </body>
</html>
